@charset "utf-8";
/* CSS Document */
/***************************로그인 시작***************************/
#loginContainer {
	display: flex;
	min-height: 100%;
	height: 100vh;
	padding-left: 3rem;
	padding-right: 3rem;
	margin-left: auto;
	margin-right: auto;
	background-color: #fff;
}

#loginContainer .loginContainerIn {
	margin-left: auto;
	margin-right: auto;
	align-self: center !important;
}

#loginContainer .loginLogo {
	width: 140px;
	height: 86px;
	margin-bottom: 1rem;
	margin-left: auto;
	margin-right: auto;
	text-indent: -9999px;
	background-image: url(../images/logo.png);
	background-size: 100% auto;
	background-position: bottom;
	background-repeat: no-repeat;
}

#loginContainer .loginContainerIn .inforBox h2 {
	margin-bottom: 1.4rem;
	font-size: 1.8rem;
	font-weight: 600;
	text-align: center;
}

#loginContainer .find {
	width: 100%;
	margin-bottom: 2rem;
	text-align: center;
}

#loginContainer .find li {
	display: inline-block;
	line-height: 1rem;
}

#loginContainer .find li:nth-child(1) {
	padding-right: 1rem;
	margin-left: 1.6rem;
	margin-right: 1rem;
	border-right: 1px solid #999;
}

#loginContainer .find li a {
	font-size: 1.3rem;
	color: #151515;
}

#loginContainer input {
	display: inline-block;
	width: 100%;
	height: 3rem;
	margin-bottom: 2rem;
	font-size: 1.2rem;
	border: none;
	border-bottom: 1px solid #ddd;
}

#loginContainer #password {
	margin-bottom: 1.9rem;
}

#loginContainer input:focus {
	outline: none;
}

#loginContainer button {
	display: block;
	width: 100%;
	margin-bottom: 1rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	text-align: center;
	cursor: pointer;
	border: none;
	color: #fff;
	background-color: #0d4665;
}

#loginContainer .joinBtn {
	color: #151515;
	background-color: #ffd426;
}

#loginContainer .copyright {
	margin-top: 1.2rem;
	text-align: center;
}

/***************************로그인 끝***************************/



@media screen and (min-width:768px) {
	/***************************회원가입 시작***************************/
	#joinContainer {
		max-width: 42rem;
		padding-left: 10rem;
		padding-right: 10em;
	}
	#joinContainer .joinLogo {
		margin-bottom: 2rem;
	}
	#joinContainer .joinContainerIn .inforBox h2 {
		font-size: 2.2rem;
	}
	#joinContainer .joinContainerIn .inforBox div {
		font-size: 1.4rem;
	}
	#joinContainer input {
		margin-bottom: 3rem;
		font-size: 1.6rem;
	}
	/***************************회원가입 끝***************************/

	/***************************로그인 시작***************************/
	#loginContainer {
		max-width: 27rem;
		padding-left: 8rem;
		padding-right: 8em;
	}
	#loginContainer .loginLogo {
		margin-bottom: 2rem;
	}
	#loginContainer .loginContainerIn .inforBox h2 {
		font-size: 2.2rem;
	}
	#loginContainer .loginContainerIn .inforBox div {
		font-size: 1.4rem;
	}
	#loginContainer input {
		margin-bottom: 3rem;
		font-size: 1.6rem;
	}
	/***************************로그인 끝***************************/
}