@charset "utf-8";

/*reset용 아님*/
html, body, #wrap, #container, #containerIn {
  height: 100%;
  overflow: hidden; /* 화면 전체 스크롤 막기 */
}

#wrap {
	position: relative;
	width: 100%;
	min-width: 320px;
	height: 100vh;
	min-height: 100%;
}

#header {
	position: fixed;
	width: 100%;
	height: 47px;
	z-index: 400;
	background-color: rgba(255, 255, 255, 1.0);
	border-bottom: 1px solid #e7e7e7;
	box-sizing: border-box;
	z-index: 600;
}

#headerin {
	position: relative;
	max-width: 1600px;
	margin-left: auto;
	margin-right: auto;
}

.logo {
	position: absolute;
	top: 1.0rem;
	left: 50%;
	margin-left: -3rem;
}

.logo a {
	display: block;
	width: 68px;
	height: 25px;
	text-indent: -9999px;
	background-image: url(../img/logo.png);
	background-position: center;
	background-size: 100% auto;
	background-repeat: no-repeat;
}

.loginAndCreate {
	position: absolute;
	top: 1.0rem;
	right: 2.0rem;
}


.loginAndCreate .nick {
	margin-right: 1rem;
}

.loginAndCreate li {
	float: left;
}

.loginAndCreate li:last-child {
	margin-left: 1rem;
}

.loginAndCreate li a {
	color: #151515;
}


#container {
	min-height: 100%;
	padding-top: 46px;
}

#containerIn {
	/*max-width: 1600px;*/
	min-height: 100%;
	margin-left: auto;
	margin-right: auto;
}

#footer {
	border-top: 1px solid #e7e7e7;
	background-color: #ffffff;
}

#footer .footerIn {
	padding-top: 1.0em;
	padding-bottom: 1.0em;
	margin-left: auto;
	margin-right: auto;
}