# Java class files
*.class

# Maven target directory
/target/

# Logs
*.log

# IDE 설정
.idea/
*.iml
*.ipr
*.iws
*.classpath
*.project
.settings/

# OS 파일
.DS_Store
Thumbs.db

# Lombok delomboked sources
/delombok/