@charset "utf-8";

/*reset용 아님*/
html, body, #wrap, #container, #containerIn {
  height: 100%;
}

#wrap {
	position: relative;
	width: 100%;
	min-width: 320px;
	height: 100vh;
	min-height: 100%;
}

#container {
	min-height: 100%;
}

#containerIn {
	min-height: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
}